Repository Project-MZ/spotify-frame: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: init konva
  next.config.js
  package.json
  public/next.svg
  public/vercel.svg
  src/app/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/app/features/spotify/components/SpotifyFrame/index.ts
  src/app/features/spotify/index.ts
  src/app/page.tsx
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

feat: manually drawn heart
  src/features/konva/components/Heart/Heart.client.tsx
  src/features/konva/components/Heart/index.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

feat: spotify frame
  src/app/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/features/konva/components/FullWidthStage/FullWidthStage.client.tsx
  src/features/konva/components/FullWidthStage/index.ts
  src/features/konva/components/Heart/Heart.client.tsx
  src/features/konva/components/Image/Image.client.tsx
  src/features/konva/components/Image/index.ts
  src/features/konva/components/Triangle/Triangle.client.tsx
  src/features/konva/components/Triangle/index.ts
  src/features/konva/index.ts
  src/features/konva/stores/index.tsx
  src/features/konva/types/index.ts
  src/features/spotify/components/Controls/Controls.client.tsx
  src/features/spotify/components/Controls/index.ts
  src/features/spotify/components/NavButton/NavButton.client.tsx
  src/features/spotify/components/NavButton/index.ts
  src/features/spotify/components/PlayButton/PlayButton.client.tsx
  src/features/spotify/components/PlayButton/index.ts
  src/features/spotify/components/ProgressBar/ProgressBar.client.tsx
  src/features/spotify/components/ProgressBar/index.ts
  src/features/spotify/components/Repeat/Repeat.client.tsx
  src/features/spotify/components/Repeat/index.ts
  src/features/spotify/components/Share/Share.client.tsx
  src/features/spotify/components/Share/index.ts
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrame/index.ts
  src/features/spotify/index.ts
  src/hooks/useMounted.ts
  src/utils/hoc.tsx
  tailwind.config.ts
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: spotify frame builder form
  .eslintrc.js
  package.json
  src/app/globals.css
  src/app/page.tsx
  src/components/Fieldset/Fieldset.tsx
  src/components/Fieldset/index.ts
  src/components/Input/Input.tsx
  src/components/Input/index.ts
  src/components/Label/Label.tsx
  src/components/Label/index.ts
  src/features/konva/components/FullWidthStage/FullWidthStage.client.tsx
  src/features/konva/components/Image/Image.client.tsx
  src/features/spotify/components/ProgressBar/ProgressBar.client.tsx
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/index.ts
  src/features/spotify/index.ts
  src/utils/hoc.tsx
  yarn.lock
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: icons
  package.json
  src/components/DnDFileInput/DnDFileInput.tsx
  src/features/konva/components/FullWidthStage/FullWidthStage.client.tsx
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

feat: download
  src/features/konva/components/FullWidthStage/FullWidthStage.client.tsx
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrame/index.ts
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/index.ts
  src/utils/download.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

feat: image upload
  .eslintrc.js
  package.json
  public/sample/wedding.jpg
  src/components/DnDFileInput/DnDFileInput.tsx
  src/components/DnDFileInput/index.ts
  src/components/ImageCropper/ImageCropper.client.tsx
  src/components/ImageCropper/index.ts
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: fix fonts
  src/app/globals.css
  src/app/layout.tsx
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: search engine optimization
  .env.development
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/og.png
  public/safari-pinned-tab.svg
  public/sample/wedding.spotify.png
  public/site.webmanifest
  src/app/favicon.ico
  src/app/layout.tsx
  src/config/index.ts
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: styles
  src/app/globals.css
  src/app/page.tsx
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/features/konva/components/FullWidthStage/FullWidthStage.client.tsx
  src/features/konva/components/FullWidthStage/FullWidthStage.module.css
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

docs: update README.md
  README.md
Due: yarn prettier --check --log-level warn .

refactor: scroll to preview
  src/app/page.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.module.css
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: tutorial
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.module.css
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: set liked and playing
  package.json
  src/components/Input/Input.module.css
  src/features/konva/components/Heart/Heart.client.tsx
  src/features/spotify/components/Controls/Controls.client.tsx
  src/features/spotify/components/PlayButton/PlayButton.client.tsx
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  tailwind.config.ts
  yarn.lock
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: customizable colors
  src/components/Input/Input.module.css
  src/features/spotify/components/Controls/Controls.client.tsx
  src/features/spotify/components/NavButton/NavButton.client.tsx
  src/features/spotify/components/PlayButton/PlayButton.client.tsx
  src/features/spotify/components/ProgressBar/ProgressBar.client.tsx
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  tailwind.config.ts
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: theming
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

feat: refine spotify frame design
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

refactor: spotify builder form
  src/components/Fieldset/Fieldset.tsx
  src/components/Input/Input.tsx
  src/components/RangeInput/RangeInput.module.css
  src/components/RangeInput/RangeInput.tsx
  src/components/RangeInput/index.ts
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

feat: background image
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

fix: fix preview position
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.module.css
Due: yarn eslint, yarn stylelint, yarn prettier --check --log-level warn .

fix: play button color
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

feat: blur background image
  src/features/konva/components/FilteredImage/FilteredImage.client.tsx
  src/features/konva/components/FilteredImage/index.ts
  src/features/konva/components/Image/Image.client.tsx
  src/features/konva/index.ts
  src/features/spotify/components/SpotifyFrame/SpotifyFrame.client.tsx
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

build: terraform for aws s3 and cloudfront
  .eslintignore
  .prettierignore
  .stylelintignore
  .vscode/extensions.json
  .vscode/settings.json
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/cloudfront/main.tf
  terraform/modules/cloudfront/outputs.tf
  terraform/modules/cloudfront/variables.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
  terraform/output.tf
  terraform/variables.tf
Due: yarn prettier --check --log-level warn .

chore: upgrade packages
  package.json
  yarn.lock
Due: yarn prettier --check --log-level warn .

refactor: create SwitchInput
  src/components/RangeInput/RangeInput.tsx
  src/components/SwitchInput/SwitchInput.tsx
  src/components/SwitchInput/index.ts
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
Due: yarn eslint, yarn prettier --check --log-level warn .

chore: update samples
  README.md
  package.json
  public/sample/pexels-asad-photo-maldives-1024968.jpg
  public/sample/pexels-asad-photo-maldives-1024968.spotify-framed.png
  public/sample/pexels-eric-esma-894156.jpg
  public/sample/pexels-eric-esma-894156.spotify-framed.png
  public/sample/wedding.spotify.png
Due: yarn prettier --check --log-level warn .

chore: set node version
  package.json
Due: yarn prettier --check --log-level warn .

chore: add GTM
  .env.development
  package.json
  src/app/layout.tsx
  src/config/index.ts
  src/features/spotify/components/SpotifyFrameBuilder/SpotifyFrameBuilder.client.tsx
  yarn.lock
Due: yarn eslint, yarn prettier --check --log-level warn .

build: init github pages
  .github/workflows/deploy.yml
  README.md
Due: yarn prettier --check --log-level warn .

build: customize workflow
  .github/workflows/deploy.yml
Due: yarn prettier --check --log-level warn .

build: fix gtm and og
  .github/workflows/deploy.yml
  src/app/layout.tsx
  src/config/index.ts
Due: yarn eslint, yarn prettier --check --log-level warn .

Path conditions:
  yarn eslint: any of: **/*.{js,,mjs,jsx,ts,tsx}
  yarn stylelint: any of: **/*.css
  yarn prettier --check --log-level warn .: any of: **/*
